[submodule "634522c9c32e5b2d52230e81"]
	path = 634522c9c32e5b2d52230e81
	url = https://git.overleaf.com/634522c9c32e5b2d52230e81
[submodule "grb221009-picture"]
	path = grb221009-picture
	url = git@github.com:volodymyrss/grb221009-picture.git
[submodule "pom"]
	path = pom
	url = git@github.com:volodymyrss/grb221009a-ipom.git
[submodule "grb221009a-ipom"]
	path = grb221009a-ipom
	url = git@github.com:volodymyrss/grb221009a-ipom.git
[submodule "paper-ej"]
	path = paper-ej
	url = https://git.overleaf.com/63f927f82043599b6917ac65
[submodule "paper-pu"]
	path = paper-pu
	url = https://git.overleaf.com/63f92982204359937817c120
