[submodule "634522c9c32e5b2d52230e81"]
	path = 634522c9c32e5b2d52230e81
	url = https://git.overleaf.com/634522c9c32e5b2d52230e81
[submodule "grb221009-picture"]
	path = grb221009-picture
	url = git@github.com:volodymyrss/grb221009-picture.git
[submodule "pom"]
	path = pom
	url = git@github.com:volodymyrss/grb221009a-ipom.git
[submodule "grb221009a-ipom"]
	path = grb221009a-ipom
	url = git@github.com:volodymyrss/grb221009a-ipom.git
